* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  /* border: none; */
  text-align: center;
}

.link {
  align-items: center;
  /* color: #fff; */
  color: black;
  font-size: 22px;
  text-decoration: none;
}

.header {
  /* padding: 25px 0; */
  /* background-color: #03787c; */
  /* backdrop-filter: blur(30px); */
}

.title {
  font-size: 48px;
  font-family: TT Firs Neue;
  background: linear-gradient(273.34deg, #2C0E5E 5.42%, #EC79AF 98.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__block {
  max-width: 1100px;
  margin: 0 auto;
  /* background-color: #faebd7; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  border: 1px solid #000;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__main {
  font-size: 28px;
  padding-left: 40px;
  font-family: PH NavPanel Headline;
  padding-top: 14px;
  color: #7D63AD;
}

.header__test {
  font-size: 28px;
  padding-left: 40px;
  font-family: PH NavPanel Headline;
  padding-top: 14px;
  color: #7D63AD;
}

.photo__block {
  width: 60px;
  height: 60px;
}

.back__logos {
  display: flex;
  justify-content: space-between;
}

.circles {
  position: absolute;
  left: 800px;
}

.square__one {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid #000;
  left: 400px;
}

.circle__one {
  width: 94.67px;
  height: 95.24px;
  border-radius: 50%;
  border: 7px solid #7D63AD;
}

/* .link:not(:last-child) {
  margin-right: 15px;
} */

/* .content {
  max-width: 1100px;
  margin: 0 auto;
} */

.create {
  max-width: 800px;
  margin: -31px auto;
}

h2 {
  text-align: center;
}

.create__container {
  max-width: 1000px;
  padding: 100px 0;
  border: 1px solid #000;
  margin: 30px auto;
  border: none;
}

.title__input {
  padding: 20px 20px 30px 20px;
  width: 600px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
}

.title__input:focus {
  background-color: #afeeee;
}

.inputTitle {
  display: flex;
  justify-content: center;
}

.inputs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.questionInput {
  width: 300px;
  padding: 10px 0 10px 10px;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 5px;
}

.descriptionInput {
  width: 330px;
  padding: 10px 0 10px 10px;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 5px;
}

.answerInput {
  width: 300px;
  padding: 10px 0 10px 10px;
  font-size: 14px;
  margin: 15px 0;
}

.delQuestionAnswer {
  margin: 15px 0;
  height: 40px;
  width: 45px;
}

.trueButton {
  margin: 15px 0;
  height: 40px;
  width: 45px;
}

.trueButtonChecked {
  background-color: lightgreen;
  margin: 15px 0;
  height: 40px;
  width: 45px;
  border: none;
}

.falseButton {
  margin: 15px 0;
  height: 40px;
  width: 45px;
}

.falseButtonChecked {
  background-color: lightcoral;
  margin: 15px 0;
  height: 40px;
  width: 45px;
  border: none;
}

.correctInput {
  width: 300px;
  padding: 10px 0 10px 10px;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
}

.firstInputs {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
}

.answerAddButton {
  border-radius: 5px;
  padding: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.home {
  width: 1100px;
  margin: 0 auto;
  /* background-color: red; */
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
}

.home h3 {
  text-align: center;
}

.home p {
  margin-top: 20px;
  text-align: center;
}

.home button {
  display: flex;
  justify-content: center;
  max-width: 100px;
  margin: 20px auto;
  padding: 5px;
}

.home a {
  text-decoration: none;
  color: black; 
}

.test {
  padding: 30px;
  background-color: #faebd7;
  margin: 10px;
  width: 270px;
  height: 130px;
}

.testContainer {
  max-width: 660px;
  margin: 0 auto;
  /* background-color: #fff; */
  padding: 50px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .blockTest {
  width: 300px;
  height: 150px;
  background-color: red;
  margin: 15px;
} */

.startButtonTest {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  border: none;
  background-color: #03787c;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.startButtonTestLink {
  text-decoration: none;
  color: black;
}

.startButtonTest:hover {
  background-color: #30d5c8;
  color: white;
  transition: 0.8s;
  border: 1px solid #000;
}

.questionContainer {
  max-width: 1100px;
  margin: 0 auto;
}

.questionContainer p {
  text-align: center;
}

.questionContainer h3 {
  text-align: center;
}

.questionAnswer {
  max-width: 300px;
  margin: 0 auto;
  /* background-color: aqua; */
  padding: 15px;
}

.questionsButtons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
}

.chooseAnswer {
  /* width: 250px; */
  border: 1px solid #000;
  padding: 10px 0;
  margin: 15px 0;
  cursor: pointer;
  /* background-color: #faebd7; */
  color:black;
}

.chooseAnswerChoosed {
  border: 1px solid #000;
  padding: 10px 0;
  margin: 15px 0;
  cursor: pointer;
  color:black;
  background-color: #faebd7;
}

.chooseAnswer:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: 0.5s;
}

.chooseAnswer:active {
  filter: brightness(90%);
}

.finish__container {
  max-width: 500px;
  padding: 30px 0;
  /* background-color: #000; */
  margin: 0 auto;
  /* border: 1px solid #000; */
}

.finish__container p {
  text-align: center;
  margin-top: 15px;
}

.userContainer {
  max-width: 350px;
  padding: 20px;
  margin: 0px auto;
  /* border: 1px solid #000; */
}


.links {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.register {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #000; */
}

.select {
  outline: none;
  display: block;
  margin: 0 auto;
  width: 250px;
  text-align: center;
  padding: 5px 0;
}

.register h3 {
  text-align: center;
  margin-bottom: 3px;
}

.registerInput {
  display: block;
  margin: 0 auto;
  outline: none;
  width: 250px;
  padding: 5px 0;
  margin-top: 5px;
}

.registerButton {
  display: block;
  margin: 10px auto;
}

.buttonNext {
  width: 100px;
  padding: 10px 0;
  margin: 5px auto;
  cursor: pointer;
}

.createquestion {
  max-width: 500px;
  margin: 0 auto;
  /* border: 1px solid #000; */
  padding: 30px 0;
}

.createquestionTitle {
  width: 300px;
  padding: 10px 0;
  font-size: 15px;
}

.createquestionfirstinputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
}

.createquestionDescription {
  width: 300px;
  padding: 10px 0;
  font-size: 15px;
  margin-top: 5px;
}

.profile {
  max-width: 1100px;
  padding: 100px 0;
  margin: 0 auto;
  background-color: aquamarine;
}

.profile__user {
  display: flex;
}

.profile__user__data {
  margin-left: 40px;
}

.profile__user__img {
  width: 164px;
  height: 164px;
}

.profile__user__name {
  font-family: TT Firs Neue;
  font-size: 28px;
}

.profile__user__mail {
  font-family: TT Firs Neue;
  font-size: 18px;
}